.content{
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}


table, th, td {
    border: 2px solid black;
}

form {
    width: 100%;
    text-align: center;
}

.div-card {
    padding: 50px;

}

mat-form-field {
    width: 100%;
}

mat-card-content {
    text-align: center;
}
.centered{
    text-align: center;
    justify-content: center;
}
.padder{
    padding-top:5%;
    padding-bottom: 5%;
}

