.content{
    height: 100vh;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.galleryImage {
    width: 25%;
    height: auto;
}


table, th, td {
    border: 1px solid black;
}

.table-header-even {
    background-color: darkcyan;
}

.table-header-odd {
    background-color: cyan;
}

form {
    width: 100%;
    text-align: center;
}

.div-card {
    padding: 50px;

}

mat-form-field {
    width: 100%;
}

mat-card-content {
    text-align: center;
}
.centered{
    text-align: center;
    justify-content: center;
}
.padder{
    padding-top:5%;
    padding-bottom: 5%;
}