<ng-content></ng-content>

<div class="main_component div-flex">
    <mat-card class="div-flex">
        <mat-card-header>
            <mat-card-title>Itt találsz meg:</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <p><mat-icon>school</mat-icon>U7BN0C</p>
            <p><mat-icon>person_add</mat-icon> Discord: Bubi#0677</p>
            <p>Valjuk be, gyötrelmesen gagyi egy weboldal, de az enyém. <br> Ha esetleg nem találod hol van benne az ilyen bonyolultabb lekérdezés vagy valami, keress meg nyugodtan.<br>(Én sem fogom tudni hol lesz benne,de ketten hátha megtaláljuk xD) </p>
        </mat-card-content>
    </mat-card>
</div>
